img{
	width: 800px;
	height: 800px;
	margin-top: 30px;
    z-index: -50;
    
}
*{
	margin:0;
	padding: 0;
	
}
#canvas{
	
	z-index: 2;
	
}
canvas{
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 29.1%;
}
body{
	text-align: center;
}
